__pycache__/
build/
dist/
obfuscated/
Installer/
WordPro.exe
unins000.*
user_stats.json
custom_sentences.json
*.spec
_internal/
build_all.bat
release.py
setup.iss
WordPro_Setup.exe
*.log
pyarmor.bug.log
pyarmor/

